mat-grid-tile {
    background: lightblue;
  }
  
  .form-group {
    margin-bottom: 5px; /* Ajusta este valor según tus necesidades */
}

mat-radio-button {
  margin-right: 20px; /* Ajusta este valor según tus necesidades */
  margin-left: 20px; /* Ajusta este valor según tus necesidades */
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.error-text {
  color: red; /* Cambia 'red' al color que prefieras */
}

.example-full-width-1 {
  width: 100%;
  margin-bottom: -1.5em !important;
  /* width: 40%; */
}

.card0 {
	box-shadow: 0px 4px 8px 0px #757575;
	border-radius: 20px
}

.radio-group-container {
  display: flex;
  align-items: center;
}

