
<div class="card card-outline card-primary">
    <div class="card-header text-center">
    <img src="assets/img/logo.png" alt="logo" class="center-logo" />
       
    </div>
    <div class="card-body">
        <p class="login-box-msg">Inicia sesión para comenzar</p>
     

        <form [formGroup]="loginForm" (ngSubmit)="loginByAuth()">
            <div class="input-group mb-3">
                <input
                    formControlName="email"
                    type="email"
                    class="form-control"
                    placeholder="Correo electrónico"
                />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input
                    formControlName="password"
                    type="password"
                    class="form-control"
                    placeholder="Contraseña"
                />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-7">
                    <div class="icheck-primary">
                        <input type="checkbox" id="remember" />
                        <label for="remember"> Recordar cuenta </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-5">
                    <pf-button
                        [type]="'submit'"
                        [block]="true"
                        [loading]="isAuthLoading"
                        [disabled]="isFacebookLoading || isGoogleLoading"
                    >
                    Iniciar sesión
                    </pf-button>
                </div>
                <!-- /.col -->
            </div>
        </form>

     

        <p class="mb-1">
            <a [routerLink]="['/forgot-password']">Olvidé mi contraseña</a>
        </p>
        <p class="mb-0">
            <a [routerLink]="['/register']" class="text-center">
                Registrarme
            </a>
        </p>
    </div>
    <!-- /.login-card-body -->
</div>