<form [formGroup]="myform" (ngSubmit)="addPorton(myform.value)">
    
    <h1 mat-dialog-title>{{inputdata.title}}</h1>

    <div mat-dialog-content>

    <mat-form-field *ngIf="!hidePortonID">
        <mat-label>PortonID</mat-label>
        <input formControlName="PortonID" matInput>         
    </mat-form-field>
        
<mat-form-field>
    <mat-label>Seleccione Condominio</mat-label>
    <mat-select [(value)]="selectedId">
        <mat-option *ngFor="let condominio of condominios" [value]="condominio.CondominioID">{{condominio.Nombre}}</mat-option>
    </mat-select>
</mat-form-field>


<mat-form-field>
    <mat-label>Descripcion</mat-label>
    <input matInput formControlName="Descripcion" required>
</mat-form-field>

    </div>
<div mat-dialog-actions>
    <button mat-raised-button type="submit" color="primary" *ngIf="!showUpdateButton">Guardar</button> <!-- modify this line -->
    <button mat-raised-button *ngIf="showUpdateButton" color="primary" (click)="updatePorton()">Actualizar</button>
    <a (click)="closepopup()" mat-raised-button color="warn">Cerrar</a>
    
</div>
</form>


<div *ngIf="showFormDelete">
    <h2 mat-dialog-title class="dialog-title">{{data.title}} {{ data.code.Nombre }}</h2>
    <mat-dialog-content class="dialog-content">
        {{data.message}} 
    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button mat-button color="warn" (click)="closepopup()">No</button>
        <button mat-button color="primary" (click)="onConfirm(inputdata.code)">Yes</button>
    </mat-dialog-actions>
</div>